@use './variables.scss' as vars;

@mixin text-align {
    text-align: justify;
}

.padding-and-align {
    padding: 0px 20px 0px 20px;
    @include text-align
}

%h1-h2 {
    font-family: "Arial";
    margin-top: vars.$margin-1;
    margin-bottom: vars.$margin-1;
    color: #333;
}

%h3-h4 {
    font-family: "Verdana";
    margin-top: vars.$margin-2;
    margin-bottom: vars.$margin-2;
    color: #555;
} 